.btn {
	font-family: "Inter", sans-serif;
	padding: 10px 30px;
	font-size: 18px;
	font-weight: 500;
	background-color: #4da6ff;
	color: #fff;
	border: none;
	border-radius: 10px;

	transition: all 0.3s linear;
}

.btn:hover {
	background-color: #3399ff;
	cursor: pointer;
}
